@media (min-width: 576px) { 
    .site-header {
        display: none;
    }
    .logo {
        margin-left: 185px;
    }
    .main-menu li a {   
        padding: 8px;
    }
    h2.align {
        text-align: center;
        font-size: 40px;
    }
    p.align {
        text-align: center;
    }
    .slide-button {
        text-align: center;
    }
    .slider-area .owl-dots {
        display: none;
    }
    h2.title {
        margin-top: 15px;
    }
    .single-service-box {
        width: 65%;
        margin-left: 100px;
    }
    .boredered-img:after {
        right: 43px;
    }
}