@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

.site-header {
    color: #fff;
    background: #0b0b0b;
    padding: 20px;
}

.social-links a {
    height: 33px;
    width: 33px;
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    color: #fff;
    transition: .3s;
    margin-left: 10px;
    padding-left: 7px;
}

.social-links a:hover {
    background: #fc721e;
    border: #fc721e;
}

.social-links {
    padding-left: 20px;
}

.header-top i.fas.fa-phone {
    padding-left: 15px;
}

span.social-links i.fas,i.fab {
    color: #fff !important;
}

.site-header i.fas,i.fab {
    color: #fc721e;
    padding-right: 10px;
}

/* header area  */
.site-header {
    color: #fff;
    background: #0b0b0b;
    padding: 13px;
}
.social-links a {
    height: 35px;
    width: 35px;
    border: 1px solid #fff;
    display: i;
    display: inline-block;
    border-radius: 50%;
    line-height: 33px;
    text-align: center;
    color: #fff;
    transition: .3s;
    margin-left: 6px;
    padding-left: 0;
}

.social-links a:hover {
    background: #fc721e;
    border: #fc721e;
}

.social-links {
    padding-left: 20px;
}

.header-top i.fas.fa-phone {
    padding-left: 15px;
}

span.social-links i.fas,i.fab {
    color: #fff !important;
}

.site-header i.fas,i.fab {
    color: #fc721e;
    padding-right: 10px;
}

.main-menu ul {
    padding: 0;
    margin: 0;
}

.main-menu ul li {
    display: inline-block;
}

a {
    text-decoration: none;
}

.main-menu ul li a {
    display: inline-block;
    padding: 18px;
    margin-left: 10x;
    color: #333;
    margin-top: -24px;
    font-weight: 600;
    border: 1px solid transparent;
    font-size: 20px;
}

.header-area {
    padding: 30px;
}

.logo a {
    border: 1px solid #333;
    padding: 15px 30px;
    font-size: 20px;
    color: #333;
    font-weight: 600;
}

.main-menu ul li a:hover {
    border-color: #fc721e;
}

.social-links i.fab {
    padding-right: 0;
}

/* banner part  */
.slide-bg-0{
    background-image: url(../image/machanical-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;
}
.bannner-con {
    margin-top: 180px;
}

.bannner-con h2 {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
}

.bannner-con p {
    color: #fbfbfb;
    font-size: 17px;
    line-height: 30px;
    margin-top: 20px;
}

.boxed-btn {
    border: 1px solid #fc721e;
    padding: 10px 25px;
    color: #fff;
    font-weight: 600;
   
    background: #fc721e;
    border-radius: 5px;
    display: inline-block;
    margin-top: 30px;
    transition: .3s;
}

.bordered-btn {
    background: transparent;
    border-color: #fff;
}

.boxed-btn:hover {
    background: transparent;
    color: #fff;
}

.bordered-btn:hover {
    background: #fc721e;
    border-color: #fc721e;
}


.single-slide-item {
    position: relative;
    z-index: 2;
}

.single-slide-item:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    background: #191a17;
    opacity: .8;
    z-index: -1;
}

/* carousel  */
.slider-area .owl-dots .owl-dot {
    height: 25px;
    width: 2px;
    display: inline-block;
    background: #fff;
    margin-right: 8px;
}

.slider-area .owl-dots {
    position: absolute;
    left: 17%;
    bottom: 66px;
    width: 1140px;
    margin: 0 auto;
}

.slider-area .owl-dots .active {
    height: 32px;
    background: #fc721e;
}

/* service area  */

.service-bg-01{
    background-image: url(../image/m-1.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
}.section-padding {
    padding: 20px;
}

.section-title h2 {font-size: 30px;text-transform: uppercase;font-weight: bold;}

.section-title {
    margin-bottom: 100px;
}

.single-service-box {
    border: 1px solid #fbfbfb;
    transition: .3s;
}

.service-box-title {
    background: #fc721e;
    display: block;
    padding: 5px;
    text-align: center;
    color: #fff;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    top: -25px;
}

.service-con {
    padding: 15px;
    text-align: center;
}

.service-con p {
    font-weight: 400;
    margin-bottom: 20px;
}

.service-btn {
    color: #333;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 15px;
    transition: .3s;
}

.single-service-box:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 5px #d9d9d9;
}

.single-service-box:hover .service-btn {
    color: orange;
}


/* about */
.about-heading {margin-bottom: 75px;}

.section-gray {
    background: #f4f4f4;
    padding: 50px;
}

.bordereded-img {
    position: relative;
}

.bordereded-img::before {
    position: absolute;
    left: 0;
    top: 65px;
    height: 70%;
    width: 5px;
    content: '';
    background: #fc721e;
}

.bordereded-img::after {
    position: absolute;
    top: 65px;
    left: 0;
    height: 70%;
    width: 5px;
    content: '';
    background: #fc721e;
}

.bordereded-img::after {
    left: auto;
    right: 56px;
}

.about-text {padding: 50px 0px;margin-left: -60px;}

.about-text h2 {
    font-size: 25px;
}

.cta-are {
    background: #fc721e;
    padding: 35px;
}

.cta-are h2 {
    font-size: 20px;
    color: #fff;
}

.boxed-btn-1 {
    border: 1px solid #fff;
    padding: 8px 12px;
    background: #fff;
    border-radius: 5px;
    color: #333;
}

.single-project-item:hover h4,
.single-project-item:hover .inline-btn
 {color: orange;}

.project-bg {
    display: flex;
    margin-bottom: 60px;
}

.project-con {
    padding: 40px;
}

.inline-btn {
    color: #333;
    font-weight: bold;
    transition: .2s;
}
.our-projects {
    padding: 60px;
}
.project-con h4{
    transition: 0.2s;
}
/* team  */
.team-thumb{
    background-image: url(../image/team-01.jpg);
    background-position: center top;
    background-size: cover ;
    width: 100%;
    height: 305px;
    position: relative;
    z-index: 2;
    margin-bottom: 5px;
}
.team-info {border: 1px solid #f3f3f3;padding: 25px;text-align: center;}

.team-thumb::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: '';
    background: #fc721e;
    opacity: 0;
    visibility: hidden;
}
.single-team-member:hover .team-thumb::after {
    opacity: .3;
    visibility: visible;
}
.team-heading {
    margin-bottom: 60px;
}

/* logo carousel  */
.logo-carousel-area {
    border-top: 1px solid #d7d5d5;
    border-bottom: 1px solid #d7d5d5;
    padding: 30px;
    margin-bottom: 100px;
}

.logo-carousel .owl-dots {
    display: none;
}

/* footer  */
footer.site-footer {background: #000000;color: gray;}

ul li {
    list-style: none;
}

.widget-title {
    position: relative;
    z-index: 2;
    margin-bottom: 32px;
}

.widget-title::after {
    position: absolute;
    left: 0;
    top: 35px;
    height: 2px;
    width: 35px;
    content: '';
    background: #fc721e;
}

.about-txt p {
    line-height: 35px;
    margin-bottom: 30px;
}

.about-txt span {display: block;}

a.logo {
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 24px;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}


.email-subscription {
    background: #222222;
}

.email-subscription input, .email-subscription button {
    background: none;
    border: none;
    padding: 10px;
    color: #fff;
}

.email-subscription button {
    float: right;
    width: 20%;
}

.email-subscription input {
    width: 80%;
}

.temporary-icon i.fas {
    margin-right: 10px;
}
 .copyright {
    text-align: center;
    margin-top: 100px;
}

.blogpost a {color: gray;}

.blogpost a span {display: block;line-height: 25px;} 